<section class="row">
    <section id="loginCard">
        <h3>Login</h3>
        <form>
            <section class="formGroup">
                <label>E-Mail:</label>
                <input type="text" id="emailLogin"/>
            </section>
            <section class="formGroup">
                <label>Password:</label>
                <input type="password" id="passwordLogin"/>
            </section>
            <section class="formGroup">
                <button type="submit">Login</button>
            </section>
        </form>
    </section>
    <section id="signupCard">
        <h3>Signup</h3>
        <form>
            <section class="formGroup">
                <label>Username:</label>
                <input type="text" id="usernameSignup"/>
            </section>
            <section class="formGroup">
                <label>E-Mail:</label>
                <input type="text" id="emailSignup"/>
            </section>
            <section class="formGroup">
                <label>Password:</label>
                <input type="password" id="passwordSignup"/>
            </section>
            <section class="formGroup">
                <button type="submit">Sign Up</button>
            </section>
        </form>
    </section>
</section>

<script src="../public/js/login.js"></script>