<section class="postHeader">
    <span class="postTitle">
        <h3>{{title}}</h3>
    </span>
    <span class="postDate">
        <p>Posted by {{user.username}} on {{date_created}}</p>
    </span>
</section>
<section class="postBody">
    <p>{{body}}</p>
</section>